.footer {

    width: 100%;
    background-color: #919063; /* Background color */
    color: #232222; /* Text color */
    text-shadow: 2px 2px 4px rgba(52, 2, 2, 0.5);
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; /* Center items vertically */
    padding: 1rem 2rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .logo {
    width: 50%;
    height: auto;
    }
    .logo img{
      width:120px;
    }
    
    .footer-links {
      list-style: none;
      display: flex; /* Display list items in a row */
      padding-right: 40px;
      align-items: center;
    }
    
    .footer-links li {
      margin: 0 1rem; /* Space between list items */
    }
    
    .footer-links a {
      color: #232222; /* Link color */
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease;
    }
    
    .footer-links a:hover {
      color: #64261c; /* Change color on hover */
    }
    

 /* Media Queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    height: 150px;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Align items to the start */
    padding: 1rem;
  }

  .logoF {
    width: 50%; /* Full width for logo */
    justify-content: center; /* Center logo text */
  }

  .logoF img {
    width: 150px; /* Adjust logo size for smaller screens */
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .footer-links {
    flex-direction: row; /* Stack links vertically */
    padding: 0;
  }

  .footer-links li {
    margin: 0.5rem 0.5rem; /* Space between list items */
  }

  .footer-links a {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}